![a panda looking at a dataframe](pandaframes.png)
- *a panda is observing a dataframe --s 250 --v 6.0* - Midjourney

In [1]:
import pandas as pd

In [14]:
pandaData = {
    "Have pandas": ["Yes", "Yes", "No"],
    "Have pandas after 2024": ["No", "No", "No"],
    "Have pythons": ["Yes", "Yes", "Yes"]
}

In [12]:
pandaDataFrame = pd.DataFrame(pandaData)
pandaDataFrame.index = [
    "National Zoo",
    "Zoo Atlanta",
    "Akron Zoo"
]

In [13]:
pandaDataFrame

             Have pandas Won't have pandas after 2024 Have pythons
National Zoo         Yes                      Correct          Yes
Zoo Atlanta          Yes                      Correct          Yes
Akron Zoo             No                      Correct          Yes

In [16]:
pandaDataFrame.head()

             Have pandas Won't have pandas after 2024 Have pythons
National Zoo         Yes                      Correct          Yes
Zoo Atlanta          Yes                      Correct          Yes
Akron Zoo             No                      Correct          Yes

In [18]:
pandaDataFrame.index

Index(['National Zoo', 'Zoo Atlanta', 'Akron Zoo'], dtype='object')

In [19]:
pandaDataFrame['Have pandas']

National Zoo    Yes
Zoo Atlanta     Yes
Akron Zoo        No
Name: Have pandas, dtype: object

In [23]:
pandaDataFrame.iloc[0]

Have pandas                         Yes
Won't have pandas after 2024    Correct
Have pythons                        Yes
Name: National Zoo, dtype: object

In [24]:
pandaDataFrame.to_csv("pandaDataFramecsv.csv")

In [25]:
ls

Murray, S - 2017 - Chapter 1 Introduction - Interactive Data Visualization for the Web.pdf
PandasChallenge.ipynb
Wylie_SystemsCheck.ipynb
cces_example_data.csv
in-class_1-29-24.ipynb
inclass_1-22-24.ipynb
pandaDataFramecsv.csv
subset_cces_example_data.csv

- **Why are dynamic, interactive data visualizations useful when communicating data?**
  1. Humans are visual creatures.
  2. They can represent multidimensional datasets.
  3. Allows and empowers people to explore the data for themselves.
  4. Encourages engagement.